<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Photothèque</title>
</head>
<body>
    <h1>Bienvenue dans la Photothèque</h1>
    <a href="/photos">Voir les photos</a>
    <a href="/photos/add">Ajouter une photo</a>
</body>
</html>


